<!DOCTYPE html>
<html ng-app="spendenverbindet-app" lang="de" >
<head>
    <meta charset="utf-8">
    <title>Spendenverbindet</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="/js/jquery-3.1.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/angular.min.js"></script>
    <script src="/js/controller.js"></script>
    <script src="/js/filters.js"></script>
    <script src="/js/services.js"></script>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Spendenverbindet</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Über uns <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Entdecken</a></li>
                <li><a href="#">Leute denen ich folge</a></li>
                <li><a href="#">Mein Profil</a></li>
                <li><a href="#">Hall of fame</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">


                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="#">
                            {{ ('logged in as ' ~ app.user.username) |trans({}, 'FOSUserBundle') }}
                        </a></li>
                    <li><a href="{{ path('fos_user_security_logout') }}">
                        {{ 'logout'|trans({}, 'FOSUserBundle') }}
                    </a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'Anmelden'|trans({}, 'FOSUserBundle') }}</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">{{ 'Registrieren'|trans({}, 'FOSUserBundle') }}</a></li>
                {% endif %}


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<!-- was bewirkt der unten stehende code? -->

{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}

<div>
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</div>

<!-- was bewirkt der oben stehende code? ende -->

